@model DVMN.Models.FilmViewModels.CreateEditFilmViewModel

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Film</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrtherTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrtherTitle" class="form-control" />
                <span asp-validation-for="OrtherTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionShort" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescriptionShort" class="form-control" />
                <span asp-validation-for="DescriptionShort" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Info" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Length" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="ckeditor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateofRease" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="DateofRease" type="text" class="form-control pull-right" id="datepicker">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Video" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VideoBackUp1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VideoBackUp1" class="form-control" />
                <span asp-validation-for="VideoBackUp1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VideoBackUp2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VideoBackUp2" class="form-control" />
                <span asp-validation-for="VideoBackUp2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VideoTrailer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VideoTrailer" class="form-control" />
                <span asp-validation-for="VideoTrailer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ImageID" class="form-control" asp-items="ViewBag.ImageID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SerieID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SerieID" class="form-control" asp-items="ViewBag.SerieID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genres" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genres" class="form-control" />
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsProposed" />
                    <label asp-for="IsProposed"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Actor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Actor" class="form-control" />
                <span asp-validation-for="Actor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Director" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TempTag" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TempTag" class="form-control" />
                <span asp-validation-for="TempTag" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Css {
    <link rel="stylesheet" href="~/plugins/datepicker/datepicker3.css">
}
@section Scripts{
    <script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">

        $("#datepicker").datepicker(

        );
        $(".ckeditor").ckeditor(

        );
        //CKEDITOR.config.customConfig = "~/plugins/"
        //$(function () {
        //    $('input').iCheck({
        //        checkboxClass: 'icheckbox_square-blue',
        //        radioClass: 'iradio_square-blue',
        //        increaseArea: '20%' // optional
        //    });
        //});
    </script>

}