<div class="container">
    <div class="w3ls_footer_grid">
        <div class="col-md-6 w3ls_footer_grid_left">
            <div class="w3ls_footer_grid_left1">
                <h2>Theo dõi chúng tôi qua</h2>
                <div class="fb-page" data-href="https://www.facebook.com/Phim-C%C6%A1-%C4%90%E1%BB%91c-811334002374693/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/Phim-C%C6%A1-%C4%90%E1%BB%91c-811334002374693/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/Phim-C%C6%A1-%C4%90%E1%BB%91c-811334002374693/">Nguyenit.net</a>
                </blockquote></div>
            </div>
        </div>
        <div class="col-md-6 w3ls_footer_grid_right">
            <a asp-controller="Home" asp-action="index"><h2>Phim <span>Cơ Đốc</span></h2></a>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-5 w3ls_footer_grid1_left">
        <p>&copy; 2016 Phim cơ đốc. All rights reserved | Thiết kế bởi <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <div class="col-md-7 w3ls_footer_grid1_right">
        <ul>
            @*<li>
                <a href="genres.html">Movies</a>
            </li>
            <li>
                <a href="faq.html">FAQ</a>
            </li>
            <li>
                <a href="horror.html">Action</a>
            </li>
            <li>
                <a href="genres.html">Adventure</a>
            </li>
            <li>
                <a href="comedy.html">Comedy</a>
            </li>
            <li>
                <a href="icons.html">Icons</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>*@
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
