<div class="container">
    <div class="w3ls_footer_grid">
        <div class="col-md-6 w3ls_footer_grid_left">
            <div class="w3ls_footer_grid_left1">
                <h2>Theo dõi chúng tôi qua</h2>
                <div class="fb-page" data-href="https://www.facebook.com/Phim-C%C6%A1-%C4%90%E1%BB%91c-811334002374693/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Phim-C%C6%A1-%C4%90%E1%BB%91c-811334002374693/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Phim-C%C6%A1-%C4%90%E1%BB%91c-811334002374693/">Phim Cơ Đốc</a></blockquote></div>
            </div>
        </div>
        <div class="col-md-6 w3ls_footer_grid_right">
            <a asp-controller="Home" asp-action="index"><h2>Phim <span>Cơ Đốc</span></h2></a>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-5 w3ls_footer_grid1_left">
        <p>&copy; 2016 Phim cơ đốc. All rights reserved</p>
    </div>
    <div class="col-md-7 w3ls_footer_grid1_right">
        <ul>
            <li>
                <a asp-action="about" asp-controller="home">Giới thiệu</a>
            </li>
            @*<li>
                <a href="/cau-hoi/">Câu hỏi</a>
            </li>*@
            <li>
                <a asp-action="contact" asp-controller="home">Liên hệ</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
